@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  outline: none !important;
}

body {
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  color: #332D79;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
@media (min-width: 1200px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 700;
  line-height: 1.13;
  font-size: 39px;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 56px;
  }
}
@media (min-width: 1920px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-weight: 700;
  color: #5725EF;
  font-size: 29px;
  margin-bottom: 26px;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 42px;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 54px;
    margin-bottom: 33px;
  }
}
.text-white h2 {
  color: inherit;
}

h3 {
  font-weight: 700;
  color: #5725EF;
  font-size: 26px;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 38px;
  }
}
@media (min-width: 1920px) {
  h3 {
    font-size: 48px;
  }
}

hr {
  border-top-color: #707070;
  opacity: 1;
}

ul li::marker {
  color: #5725EF;
}
.text-white ul li::marker {
  color: inherit;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1444px;
  }
  .col-xxxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
}
.btn {
  font-weight: 700;
  border-radius: 100px;
  padding: 14px 18px;
  min-width: 165px;
}
@media (min-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .btn {
    font-size: 23px;
    padding: 18px 22.5px;
    min-width: 210px;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl .btn {
    margin-top: 0;
    margin-left: 23px;
  }
}
@media (min-width: 1920px) {
  .navbar-expand-xl .btn {
    margin-left: 30px;
  }
}

.btn-primary, .btn-dark {
  transition: opacity 0.15s;
}
.btn-primary:hover, .btn-dark:hover {
  opacity: 0.9;
}
.btn-primary:active, .btn-dark:active {
  opacity: 0.95;
}

.btn-primary {
  background-color: #5725EF !important;
  border-color: #5725EF !important;
}

.btn-dark {
  background-color: #332D79 !important;
  border-color: #332D79 !important;
}

.btn-light {
  color: #5725EF !important;
}

.navbar {
  padding: 0.4375rem 0;
}
@media (min-width: 992px) {
  .navbar {
    padding: 22px 0;
  }
}
@media (min-width: 1920px) {
  .navbar {
    padding: 28px 0;
  }
}
.navbar .navbar-brand {
  width: 100px;
}
@media (min-width: 1200px) {
  .navbar .navbar-brand {
    position: absolute;
    top: 22px;
    width: 128px;
  }
}
@media (min-width: 1920px) {
  .navbar .navbar-brand {
    top: 47px;
    width: auto;
    transform: translateX(-100%);
  }
}

.nav-link {
  font-weight: 700;
  color: #000000;
  font-size: 1rem;
}
@media (min-width: 1920px) {
  .nav-link {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 23px;
    padding-left: 23px;
  }
}
@media (min-width: 1920px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}
section .nav-link {
  color: #332D79;
}

.navbar-toggler {
  display: inline-block;
  transition: none;
  padding: 0;
  border: 0;
  color: #332D79;
  box-shadow: none !important;
}
.navbar-toggler:before {
  width: 26px;
  animation-name: sandwich-1;
}
.navbar-toggler span {
  width: 20px;
  animation-name: sandwich-2;
}
.navbar-toggler:after {
  width: 14px;
  animation-name: sandwich-3;
}
.navbar-toggler:before, .navbar-toggler:after {
  content: "";
}
.navbar-toggler span, .navbar-toggler:after {
  margin-top: 6px;
}
.navbar-toggler span, .navbar-toggler:before, .navbar-toggler:after {
  display: block;
  transition: 0.15s;
  transform-origin: right center;
  border-top: 2px solid;
  margin-left: auto;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.navbar-toggler:not(.collapsed):before {
  transform: rotate(-45deg);
  width: 23px;
}
.navbar-toggler:not(.collapsed) span {
  width: 0;
  opacity: 0;
}
.navbar-toggler:not(.collapsed):after {
  transform: rotate(45deg);
  width: 23px;
}
.navbar-toggler:not(.collapsed) span, .navbar-toggler:not(.collapsed):before, .navbar-toggler:not(.collapsed):after {
  animation-name: none !important;
}

@keyframes sandwich-1 {
  50% {
    width: 14px;
  }
}
@keyframes sandwich-2 {
  25% {
    width: 16px;
  }
  50% {
    width: 20px;
  }
  75% {
    width: 24px;
  }
}
@keyframes sandwich-3 {
  50% {
    width: 26px;
  }
}
.list {
  padding-left: 1rem;
}
@media (min-width: 1920px) {
  .list {
    padding-left: 20px;
  }
}
.list li {
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .list li {
    margin-bottom: 27px;
  }
}
@media (min-width: 1920px) {
  .list li {
    margin-bottom: 35px;
  }
}

.ul-no {
  padding-left: 0;
  list-style-type: none;
}

.fz-135 {
  font-weight: 900;
  line-height: 1;
  font-size: 74px;
}
@media (min-width: 1200px) {
  .fz-135 {
    font-size: 106px;
  }
}
@media (min-width: 1920px) {
  .fz-135 {
    font-size: 135px;
  }
}

.fz-36 {
  font-size: 19px;
}
@media (min-width: 1200px) {
  .fz-36 {
    line-height: 1.3;
    font-size: 28px;
  }
}
@media (min-width: 1920px) {
  .fz-36 {
    font-size: 36px;
  }
}

.fz-33 {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .fz-33 {
    font-size: 26px;
  }
}
@media (min-width: 1920px) {
  .fz-33 {
    font-size: 33px;
  }
}

.fz-32 {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .fz-32 {
    line-height: 1.25;
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .fz-32 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .fz-30 {
    line-height: 1.2;
    font-size: 23px;
  }
}
@media (min-width: 1920px) {
  .fz-30 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .fz-26 {
    font-size: 20px;
  }
}
@media (min-width: 1920px) {
  .fz-26 {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .fz-23 {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .fz-23 {
    font-size: 23px;
  }
}

@media (min-width: 1200px) {
  .fz-20 {
    line-height: 1.2;
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  .fz-20 {
    font-size: 20px;
  }
}

.fz-17 {
  font-size: 14px;
}
@media (min-width: 1920px) {
  .fz-17 {
    font-size: 17px;
  }
}

.fw-900 {
  font-weight: 900;
}

.pt-60 {
  padding-top: 3rem;
}
@media (min-width: 1920px) {
  .pt-60 {
    padding-top: 60px;
  }
}

.text-body {
  color: #332D79 !important;
}

.text-black {
  color: #000000;
}

.text-violet {
  color: #5725EF;
}

.text-gray {
  color: #1B1D21;
}

.section-hero {
  display: flex;
  flex-direction: column;
  background-image: url(../img/hero.jpeg);
  background-size: cover;
}
@media (min-width: 768px) {
  .section-hero {
    background-position: center;
  }
}
.section-hero > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .section-hero > .container {
    padding-top: 79px;
    padding-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .section-hero > .container {
    padding-top: 113px;
    padding-bottom: 58px;
  }
}
@media (min-width: 1920px) {
  .section-hero > .container {
    padding-top: 145px;
    padding-bottom: 74px;
  }
}
.section-hero > .container .btn {
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .section-hero > .container .btn {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .section-hero > .container .btn {
    margin-bottom: 70px;
  }
}
@media (min-width: 1920px) {
  .section-hero > .container .btn {
    margin-bottom: 90px;
  }
}
.section-hero .p {
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .section-hero .p {
    margin-top: 69px;
  }
}
@media (min-width: 1200px) {
  .section-hero .p {
    margin-top: 99px;
  }
}
@media (min-width: 1920px) {
  .section-hero .p {
    margin-top: 126px;
    margin-bottom: 20px;
  }
}

.circle {
  border-radius: 50%;
  background-color: #5725EF;
  color: #ffffff;
  box-shadow: 10px 10px 10px rgba(51, 45, 121, 0.75);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210px;
  height: 210px;
  border: 3px solid #ffffff;
}
@media (min-width: 1200px) {
  .circle {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1920px) {
  .circle {
    width: 382px;
    height: 382px;
    border-width: 4px;
  }
}

.video-thumbnail {
  background-size: cover;
  background-position: center;
  transition: transform 0.15s;
}

.section-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-1 {
    padding-top: 53px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1920px) {
  .section-1 {
    padding-top: 67px;
    padding-bottom: 97px;
  }
}
.section-1 .ratio {
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .section-1 .ratio {
    margin-bottom: 22px;
  }
}
@media (min-width: 1920px) {
  .section-1 .ratio {
    margin-top: 20px;
    margin-bottom: 29px;
    width: 670px;
  }
}
.section-1 .ratio:hover .video-thumbnail {
  transform: scale(1.1);
}

.section-2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-2 {
    padding-top: 106px;
    padding-bottom: 156px;
  }
}
@media (min-width: 1920px) {
  .section-2 {
    padding-top: 136px;
    padding-bottom: 199px;
  }
}

.quote-wrapper {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding-top: 17px;
  padding-bottom: 39px;
}
@media (min-width: 1920px) {
  .quote-wrapper {
    padding-top: 22px;
    padding-bottom: 50px;
  }
}
.quote-wrapper .quote {
  position: relative;
  padding-left: 38px;
}
@media (min-width: 1200px) {
  .quote-wrapper .quote {
    padding-left: 55px;
  }
}
@media (min-width: 1920px) {
  .quote-wrapper .quote {
    padding-left: 71px;
  }
}
.quote-wrapper .quote::before, .quote-wrapper .quote::after {
  content: "";
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-image: url(../img/quote.svg);
  width: 28px;
  height: 21px;
}
@media (min-width: 1200px) {
  .quote-wrapper .quote::before, .quote-wrapper .quote::after {
    width: 40px;
    height: 30px;
  }
}
@media (min-width: 1920px) {
  .quote-wrapper .quote::before, .quote-wrapper .quote::after {
    width: 51px;
    height: 38px;
  }
}
.quote-wrapper .quote::before {
  position: absolute;
  transform: rotate(180deg);
  top: -6px;
  left: 6px;
}
@media (min-width: 1200px) {
  .quote-wrapper .quote::before {
    top: -9px;
    left: 9px;
  }
}
@media (min-width: 1920px) {
  .quote-wrapper .quote::before {
    top: -11px;
    left: 12px;
  }
}
.quote-wrapper .quote::after {
  margin-bottom: -19px;
  margin-left: 3px;
}
@media (min-width: 1920px) {
  .quote-wrapper .quote::after {
    margin-bottom: -24px;
    margin-left: 4px;
  }
}

.box-violet {
  background-color: #5725EF;
  padding: 1rem;
}
@media (min-width: 1200px) {
  .box-violet {
    padding: 23px 38px;
  }
}
@media (min-width: 1920px) {
  .box-violet {
    padding: 30px 49px;
  }
}

.box-light {
  background-color: rgba(87, 38, 239, 0.1);
  height: 100%;
  padding: 1rem;
}
@media (min-width: 1200px) {
  .box-light {
    padding: 27px 23px;
  }
}
@media (min-width: 1920px) {
  .box-light {
    padding: 35px 30px;
  }
}
.box-light img {
  height: 100px;
}
@media (min-width: 1200px) {
  .box-light img {
    height: 176px;
  }
}
@media (min-width: 1920px) {
  .box-light img {
    height: 225px;
  }
}

.section-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-3 {
    padding-top: 116px;
    padding-bottom: 142px;
  }
}
@media (min-width: 1920px) {
  .section-3 {
    padding-top: 148px;
    padding-bottom: 181px;
  }
}

.section-4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-4 {
    padding-top: 128px;
    padding-bottom: 116px;
  }
}
@media (min-width: 1920px) {
  .section-4 {
    padding-top: 164px;
    padding-bottom: 148px;
  }
}

.section-faqs {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-faqs {
    padding-top: 118px;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1920px) {
  .section-faqs {
    padding-top: 151px;
    padding-bottom: 20px;
  }
}

.faqs-item {
  border-top: 1px solid #707070;
}

.faqs-h {
  cursor: pointer;
  transition: opacity 0.15s;
}
.faqs-h:hover {
  opacity: 0.75;
}
.faqs-h::after {
  content: "";
  background-image: url(../img/arrow.svg);
  background-size: cover;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.4s;
  margin-left: 0.5rem;
  width: 19px;
  height: 9px;
}
@media (min-width: 1200px) {
  .faqs-h::after {
    margin-left: 1rem;
    width: 28px;
    height: 14px;
  }
}
@media (min-width: 1920px) {
  .faqs-h::after {
    width: 36px;
    height: 18px;
  }
}
.faqs-h.collapsed::after {
  transform: rotate(90deg);
}

.section-5 {
  padding-top: 18px;
  padding-bottom: 3rem;
}
@media (min-width: 1920px) {
  .section-5 {
    padding-top: 24px;
    padding-bottom: 60px;
  }
}

.avatar {
  background-size: cover;
  background-position: top center;
  width: 145px;
  height: 145px;
}
@media (min-width: 1920px) {
  .avatar {
    width: 185px;
    height: 185px;
  }
}

.link {
  color: #5725EF;
  transition: opacity 0.15s;
}
.link:hover {
  opacity: 0.75;
}

.bi-linkedin {
  color: #0e76a8;
  text-decoration: none;
  font-size: 35px;
}
@media (min-width: 1920px) {
  .bi-linkedin {
    font-size: 45px;
  }
}
.bi-linkedin::before {
  display: block;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  white-space: nowrap;
  padding: 45px 0;
}
@media (min-width: 1920px) {
  .logos {
    padding: 58px 0;
  }
}

.logos-slide {
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  animation: 35s slide infinite linear;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide img {
  margin: 0 25px;
}

.footer {
  margin-top: auto;
  background-color: #332D79;
  padding-top: 47px;
  padding-bottom: 41px;
}
@media (min-width: 1920px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 52px;
  }
}
.footer ul {
  padding-left: 0;
  list-style-type: none;
}
.footer li {
  margin-bottom: 19px;
}
@media (min-width: 1920px) {
  .footer li {
    margin-bottom: 1.5rem;
  }
}
.footer a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.15s;
}
.footer a:hover {
  opacity: 0.5;
}

.footer-brand {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 106px;
}
@media (min-width: 1200px) {
  .footer-brand {
    left: -40px;
  }
}
@media (min-width: 1920px) {
  .footer-brand {
    left: -60px;
    width: auto;
  }
}

.section-6 {
  padding-top: 40px;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  .section-6 {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
@media (min-width: 1920px) {
  .section-6 {
    padding-top: 67px;
  }
}

.form-control {
  color: inherit !important;
  font-size: inherit;
  font-weight: 300;
  border: 0;
  border-radius: 0;
  background-color: rgba(87, 37, 239, 0.07) !important;
  padding: 12px 18px;
}
@media (min-width: 1920px) {
  .form-control {
    padding: 15px 23px;
  }
}
.form-control::-moz-placeholder {
  color: #B7B8BA;
  opacity: 0.75;
}
.form-control::placeholder {
  color: #B7B8BA;
  opacity: 0.75;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(87, 37, 239, 0.5);
}

@media (min-width: 1920px) {
  .form-label {
    margin-bottom: 10px;
  }
}

.payment-box {
  background-color: rgba(87, 37, 239, 0.07);
  padding: 1rem;
}
@media (min-width: 1200px) {
  .payment-box {
    padding: 22px 27.5px;
  }
}
@media (min-width: 1920px) {
  .payment-box {
    padding: 25px 35px;
  }
}
.payment-box .form-control {
  background-color: #ffffff !important;
}

@media (min-width: 1200px) {
  .row-gap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .row-gap > * {
    width: auto;
  }
}
@media (min-width: 1920px) {
  .row-gap {
    -moz-column-gap: 134px;
         column-gap: 134px;
  }
}

.icon-mastercard {
  width: 40px;
}
@media (min-width: 1200px) {
  .icon-mastercard {
    width: 48px;
  }
}
@media (min-width: 1920px) {
  .icon-mastercard {
    width: 54px;
  }
}

.icon-visa {
  width: 63px;
}
@media (min-width: 1920px) {
  .icon-visa {
    width: 80px;
  }
}

.icon-american {
  width: 38px;
}
@media (min-width: 1920px) {
  .icon-american {
    width: 48px;
  }
}

.icon-paypal {
  width: 124px;
}
@media (min-width: 1920px) {
  .icon-paypal {
    width: 158px;
  }
}

.form-check-label {
  vertical-align: middle;
}

.form-check-input {
  border-width: 2px;
  vertical-align: middle;
  margin: 0 !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(87, 37, 239, 0.5);
  margin: 0;
}
.form-check-input[type=checkbox] {
  border-color: #5725EF;
  border-radius: 0;
  width: 18px;
  height: 18px;
}
@media (min-width: 1920px) {
  .form-check-input[type=checkbox] {
    width: 23px;
    height: 23px;
  }
}
.form-check-input[type=checkbox]:checked {
  background-color: #5725EF;
}
.form-check-input[type=radio] {
  border-color: #707070;
  width: 20px;
  height: 20px;
}
@media (min-width: 1920px) {
  .form-check-input[type=radio] {
    width: 26px;
    height: 26px;
  }
}
.form-check-input[type=radio]:checked {
  border-color: #332D79;
  background-color: #332D79;
  background-image: none;
}

.form-check {
  position: relative;
  padding-left: 29px;
}
@media (min-width: 1920px) {
  .form-check {
    padding-left: 37px;
  }
}
.form-check .form-check-input {
  float: none;
  position: absolute;
  left: 0;
}
.form-check .form-check-input[type=radio] {
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */